name: Latest blog post workflow #nome de sua escolha
on:
    schedule: # Roda fluxo de trabalho automaticamente
    - cron: '0 * * * *' # Roda a cada uma hora
    workflow_dispatch: # Roda fluxo de trabalho manualmente pelo Github Actions

    jobs:
        update-readme-with-blog:
            name: Update this repo's README with latest blog posts
            runs-on: ubuntu-latest
            steps:
                - name: Checkout
                uses: actions/checkout@v2
                - name: Pull in dev.to posts
                uses: gautamkrishnar/blog-post-workflow@master
                with:
                    feed_list: "https://dev.to/feed/lissadev"
